---
layout: default
comments: true
---

<article class="post">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
    <h2 class="post-title">{{ page.title }}</h2>
    {{ content }}
</article>


<aside class="read-next">
    {% if page.next.url %}
        <div class="left">
            <div class="read-next-label">Daha Yeni</div>
            <h3 class="read-next-title"><a href="{{page.next.url}}">{{page.next.title}}</a></h3>
        </div>
    {% endif %}


    {% if page.previous.url %}
        <div class="right">
            <div class="read-next-label">Daha Eski</div>
            <h3 class="read-next-title"><a href="{{page.previous.url}}">{{page.previous.title}}</a></h3>
        </div>
    {% endif %}
</aside>

{% include comments.html %}

